body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.discord-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #5865f2;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.2s;
}

.discord-btn:hover {
    background-color: #4752c4;
}